código em css:

/* Tirando todos os estilos que podem vir na pagina */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}
/* estilo de todo o html */
html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
}
/* estilo de todo o body */
body {
    font-size: 1.6rem;
    width: 100%;
    margin: auto;
    
}
/* estilo de todo o body e html*/
html,
body {
    height: 100vh;
   
}
/* estilo que vai ser aplicado em todo tag header*/
header {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
/* estilo que vai ser aplicado no header na classe voltar-tela a.link  */
header .voltar-tela a.link {
    display: flex;
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}

header .voltar-tela a.link:hover {
    color: rgb(235, 45, 45)
}
header .voltar-tela a.link {
    display: flex;
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}
/* estilo que vai ser aplicado na classe img-img  */
.img-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70vh;
    width: 100vw;
    z-index: -1000;
   
}
.meio{
    margin-left: 20%;
    margin-top: 9px;

}
.imag5{
    margin-left: 30%;
    margin-top: 10px;
    
}
/* video do alexa*/
div.video {
    margin-left: 20%;
    margin-top: 9px;

}
/* estilo que vai ser aplicado div classe .img-fundo */
div.img-fundo {
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
}
.subtitu {
    margin-left: 9%;
    
}
.subtitu2 {
    margin-left: 9%;
    

}
.subtitu3 {
    margin-left: 11%;
    

}

/* estilo que vai ser aplicado na classe container  */
section.container {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0);
}
/* estilo que vai ser aplicado no footer(rodapé)  */
footer {
    background-color:rgb(8, 87, 235);
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    margin-top: 25px;
    left: 0;
    right: 0;
}
/* estilo que vai ser aplicado na section container tag h1*/
section.container h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
}
/* estilo que vai ser aplicado na section container na tag h1 e img*/
section.container h1 img {
    margin-right: 10px;
}
/* estilo que vai ser aplicado na section container na class texts*/
section.container .texts {
    margin-top: -30px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    margin-left: 11%;
}
/* estilo que vai ser aplicado na section container na tag img*/
section.container .img {
    margin-top: 5%;
    width: 100%;
    align-items: center;
}
/* estilo que vai ser aplicado nos botões*/
section.container .botao a {
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 20px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        margin-left: 10px;
        display: inline;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-left: 0px;
        margin-bottom: 20px;  
}
/* estilo que vai ser aplicado nos botões*/
section.container .botao .proximo:hover {
    background-color: rgb(14, 102, 218)
}
/* Responsividade */
@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 1000px) {
    section.container {
        padding: 50px 50px
    }
}
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
 
}
@media (max-width: 360px) {
    html {
        font-size: 45%;
    }
    div.img-fundo{
        height: 100vh;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
    section.container .texts {
        margin-top: 20px;
        display: flex;
        align-items: center;
        text-align: justify;
        font-size: 10px;
        margin-left: 60px;
    }
    section.container .img {
        max-width: 100px;
            margin-left: -100px;
            align-items: center;
    }
    section.container .botao a {
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 10px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-bottom: 10px;
        
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
 
div.img-fundo {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  
}
}

[data-anime]{
    opacity: 9;
    transition: 10s;
}
[data-anime = "left"]{
    transform: translate3d( 50px,0px,10);
}